.env
Week2/Day5/quizResult.pdf
Week2/Day5/ExercisesXP/WeatherApp/OpenWeatherMapAPI.txt
Week4/Day5/ExercisesXP/giphyAPI.txt
Week4/Day5/DailyChallenge/giphyAPI.txt
Week5/Day1/DailyChallenge/config.js
Week5/Day2/ExercisesXP/index.html
Week5/Day2/ExercisesXP/script.js
**/node_modules
**/package-lock.json
**/package.json
Week6/Day4/ExerciseXP/**/package.json
Week6/Day4/DailyChallenge/**/package.json
Week6/Day4/DailyChallenge/Task3(files)/file-data.txt
Week6/Day5/ExerciseXP/**/package.json
Week7/Day2/clearServer
Week7/Day2/classWork