html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#FF494C,#FF5C7F);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: white;
}

form {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    overflow: hidden;
}

form input[type="text"] {
    flex: 1;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    outline: none;
}

form input[type="submit"] {
    border: none;
    background: none;
    color: #3399FF;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: color 0.3s;
}

form input[type="submit"]:hover {
    color: #0077cc;
}

ul{
    list-style-type: none;
    background-color: white;
    padding: 5%;
}

li{
    border-bottom: #9DCBFF solid 1px;
    text-align: left;
    margin-top: 2%;
}

@media (max-width: 600px) {
    main {
        width: 90%;
    }
}

