body{
    background-image: url(image/background.jpg);
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
    height: 100vh; 
}

#container{
    display: flex;

    flex-wrap: wrap;
}

div.drum{
    width: 100px;
    height: 100px;
    border: 2px yellow solid;
    color: white;
    font-size: 4vh;
    background: rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
}
div.drum:hover{
    scale: 1.05;
}

div.drum span{
    color: orange;
    font-size: 2vh;
}

.play{
    transform: scale(1.06);
    border: 2px solid orange;
	box-shadow: 0px 0px 20px 5px orange;
}