.mercury-color {
  background-color: #b1b1b1;
}

.venus-color {
  background-color: #e6e6a3;
}

.earth-color {
  background-color: #2e8b57;
}

.mars-color {
  background-color: #b22222;
}

.jupiter-color {
  background-color: #d2b48c;
}

.saturn-color {
  background-color: #deb887;
}

.uranus-color {
  background-color: #afeeee;
}

.neptune-color {
  background-color: #4682b4;
}

.pluto-color {
  background-color: #aaa9ad;
}